<hr>
<div class="row">
  
  <div class="col-sm-3">
    <a class="list-group-item" ui-sref-active="active" ui-sref="home.main"><i class="fa fa-home fa-5x"></i></a>
    <a class="list-group-item" ui-sref-active="active" ui-sref="portfolio"><i class="fa fa-folder fa-5x"></i></a>
    <a class="list-group-item" ui-sref-active="active" ui-sref="home.about"><i class="fa fa-question fa-5x"></i></a>
  </div>
  
  <div class="col-sm-9">
    <div class="ui-view-container">
  		<div ui-view></div>
    </div>
	</div>