<div class="row">

  <div class="col-sm-3">
    <a class="list-group-item" ui-sref-active="active" ui-sref="home.main" tooltip-placement="right" tooltip="Home"><i class="fa fa-home fa-5x"></i></a>
    <a class="list-group-item" ui-sref-active="active" ui-sref="portfolio.featured" tooltip-placement="right" tooltip="Portfolio"><i class="fa fa-folder fa-5x"></i></a>
    <a class="list-group-item" ui-sref-active="active" ui-sref="home.about" tooltip-placement="right" tooltip="About"><i class="fa fa-question fa-5x"></i></a>
  </div>

  <div class="col-sm-9">
    <div class="ui-view-container">
  		<div ui-view></div>
    </div>
	</div>
