<div class="well">
  <div class="row">
    <div class="col-sm-5">
    </div>
    <div class="col-sm-4">
    	<img class="img-responsive img-rounded" src="me.png" />
    </div>
  </div>
  
  <h2>Web Development</h2>
  <p>Hi! I'm a budding web developer. I work mostly in rails, but I'm also looking at using angular.js to make more interactive sites and applications.</p>
  <ul class="">
  	<li>Tested Rails code</li>
  	<li>Git for SCM</li>
  	<li>Deployed to PASS (Heroku) and traditional servers (Ubuntu)</li>
  	<li>Worked with a range of APIs: twitter, facebook, instagram, youtube, google maps, forecast.io, etc...</li>
  </ul>
  <p>This site is a sample of recent work with links to online demos and github repositories.</p>
</div>