<div class="well">
  <div class="row">
    <div class="col-sm-5">
    	<alert type="success">Available for small projects in June and July</alert>
    </div>
    <div class="col-sm-4">
    	<img class="img-responsive img-rounded" src="me.png" />
    </div>
  </div>
  
  <h2>I make webapps</h2>
  <ul class="">
  	<li>Tested Rails code</li>
  	<li>Git for SCM</li>
  	<li>Deployed to Pass (Heroku) and traditional servers (Ubuntu)</li>
  	<li>Worked with a range of APIs: twitter, facebook, instagram, youtube, googlem maps, forecast.io, etc...</li>
  	<li>Exploring front-end JS frameworks like ember.js and angular.js (this site is Angular on Rails)</li>
  </ul>
  <p>This site is a sample of recent work with links to online demos and github repositories.</p>
</div>