<div class="row">
	<div class="col-sm-3">
		<a class="list-group-item" ui-sref-active="active" ui-sref="home.main" tooltip-placement="right" tooltip="Home"><i class="fa fa-home fa-5x"></i></a>
		<h3>Recent Work</h3>
		<input ng-model="search" class="form-control" placeholder="Search: Rails, angular, jquery, etc" type="text">
		<a class="list-group-item"
				ng-repeat="p in projects | filter:search | orderBy:'title'"
				ui-sref-active="active"
				ui-sref="portfolio.project({ id: p.id})">{{p.title}}
		</a>
    <a class="list-group-item"
       ui-sref-active="active"
       ui-sref="portfolio.more">More
    </a>
   
	</div>

	<div class="col-sm-9">
    <div class="ui-view-container">
  		<div ui-view></div>
    </div>
	</div>
</div>