<div ng-app="Portfolio" ng-controller="ProjectsController" ng-init="getProjects()">
	<div class="row">
		<div class="col-md-6">
			<h1>Projects</h1>
			<p>Search:</p>
			<input ng-model="search" type="text" />
			<ul>
				<li ng-repeat="project in projects | filter:search">
					{{ project.title }} <span ng-repeat="tag in project.tag_list">{{tag}} </span>
				</li>
			</ul>
		</div>
	</div>
</div>