<!doctype html>
<html lang="en" data-ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "My portfolio" %></title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
	<div class="container">
    <div class="text-center">
				<h2>Evan's Stuff</h2>
				<ul class="list-inline list-unstyled">
          <li><a href="https://github.com/evan-007"><i class="fa fa-github-square fa-4x"></i></a></li>
          <li><a href="http://www.linkedin.com/pub/evan-lloyd/87/997/927"><i class="fa fa-linkedin-square fa-4x"></i></a></li>
          <li><a href="https://evan-007.github.io"><i class="fa fa-coffee fa-4x"></i></a></li>
				</ul>
    </div>
<hr>
    <div class="ui-view-container">
		  <div ui-view></div>
    </div>
	</div>
<%= javascript_include_tag "application" %>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</body>
</html>